botname="assistantbot"
roles="{\"Admin\":\"000000000000000000\"}"
prefix="/"
token="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
debugchan="000000000000000000"
askchan="000000000000000000"
askadminchan="000000000000000000"
lang="fr"
dbhost="db"
dbname="assistantbot"
dbpwd="mysecretpassword"
timezone="Continent/City"
